html {
  display: flex;
  min-height: 100%;
  font-family: 'Kodchasan', sans-serif;
  flex-direction: column;
}
body {
  background-color: white;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #1c054b;
}
a {
  color: blue;
  text-decoration: none;
}
#header {
  background-color: #391581;
  width: 100%;
  max-width: 100%;
  min-width: 460px;
  margin: 0 auto 0px;
  padding: 30px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 20px solid #805ec3;
}
.logo {
  font-size: 0;
  margin: 0 0px 21px 25px;
  display: flex;
  flex: none;
  align-items: center;
  width: 60px;
  height: 90px
}
.logo:hover {
  transform: scale(1.2);
}
.nav {
  margin: -5px 0 0 -5px;
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  text-align: center;
  height: 50px;
  width: 130px;
  font-size: 1.6rem;
  color: antiquewhite;
  text-decoration: none;
  margin: 5px 50px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item:hover{
  color: #ff9300;
}
/*
.box div {
  padding: 20px;
  border: 10px solid #805ec3;
  color: white;
}
*/
#box-case1 {
  padding: 20px;
  border: 10px solid #805ec3;
  color: white;
}
#box-case2 {
  padding: 20px;
  border: 10px solid #805ec3;
  color: white;
}
#box-case3 {
  padding: 20px;
  border: 10px solid #805ec3;
  color: white;
}
.sidesPart {
  background-color: #a7a7ff;
}
@media (min-width: 1000px) 
{
  .box {
    display: flex;
  }
  #box-case1 {
    flex: 1;
  }
  #box-case2 {
    flex: 6;
  }
  #box-case3 {
    flex: 1;
  }
}
#box-case2 {
  background-image: url(../Resources/wall_2.jpg);
  background-repeat: no-repeat;
  
/*  background-size: contain;*/
}
.footer {
  align-items: flex-end;
  display: flex;
  width: 100%;
  background-color: #391581;
  height: 200px;
  border-top: 20px solid #805ec3;
}
.footerUl {
  flex: 5;
  list-style: none;
  margin-left: 20px;
  padding-left: 1em;
  text-indent: -1em;
  color: white;
}
.footerUl li{
  margin-bottom: 20px;
}
#social {
  margin: 1px 0px 20px 20px;
  flex: 1;
  display: flex;
}
#social img:hover {
  transform: scale(1.3);
}
#social a {
  margin: 5px 15px 0px 5px;
}
h2 a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Kodchasan', sans-serif;
}

/*effect-underline*/
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.form {
  display: flex;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  width: 95  %;
  height: 90%;
  background-color: rgba(79, 37, 155, 0.76);
}
input[type=text], checkbox {
    width: 100%;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=select], select{
  border-radius: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=datetime-local]{
  border-radius: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=reset]{
  border-radius: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
 border-radius: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.buttonfwd {
    width: 7%;
    background-color: #1e004d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.buttonfwd:hover {
  background-color: #ff9300;
}

input[type=submit]:hover {
    background-color: #ff9300;
}
.subbtn {
  color: #ff9d00;
}
.subbtn input:hover {
/*  transform: scale(1.2);*/
}
input[type=text], textarea {
  border-radius: 15px;
}
.reset {
  background-color: #1e004d;
  color: white;
}
.reset:hover {
  background-color: #ff9300;
}
.table_it {
  color: white;
  background-color: rgba(79, 37, 155, 0.76);
  width: 100%;
  text-align: center;
/*  display: flex;*/
}
.table_it td {
  padding: 8px 8px 8px 8px;  
}